body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}


.info{
    background-color: white;;
}

.main-color{
    background-color: #2F303A;
}

.team-color{background-color:  #F5F4FA;}


.menu-contacts{
    color: #757575;
    font-weight: 500;
}
.menu-link {
    color: black;
    font-weight: 500;
}

.menu-link:hover, .menu-contacts:hover{
    color: #2196F3;
    font-weight: 500;
}


.button{
    padding: 10px 32px;
    color:white;
    background-color: #2196F3;
    border: 1px solid transparent;
    font-weight: 700;
}
.button:hover{
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.main1{
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    color:white;
    text-align: center;
}
.h2-fonts{
    font-weight: 700;
}
.main-content-second-fonts{
    font-weight: 400;
}

.name {
    font-weight:700;
}
.addreass{
    font-weight: 400;
}


.button-menu{ padding: 6px 20px;
    color: black;
    background-color: #F5F4FA;
    border: 10px
    
}
.button-menu:hover{
    color: #F5F4FA;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.name-portfol{
    font-weight: 700;
}
.second-name-portfol{
    font-weight: 400;
}